Exercises_cache
RIntroSlides-concordance.tex
RIntroSlides.log
RIntroSlides.nav
RIntroSlides.pdf
RIntroSlides.snm
RIntroSlides.synctex.gz
RIntroSlides.tex
RIntroSlides.toc
RIntroSlides.vrb
Ranges-exercises-concordance.tex
Ranges-exercises.log
Ranges-exercises.pdf
Ranges-exercises.synctex.gz
Ranges-exercises.tex
Ranges-exercises.toc
cache
figure
ggplot2_cache
myplot.png
ranges-disjoin-gr0-plot.png
ranges-gr0-plot.png
ranges-reduce-gr0-plot.png
ranges-shift-gr0-plot.png
tab.txt
